
@light: #718DB6; //#e3e3f8
@medium: #375A8D; //#466a93
@dark: #193764; //#24456c
//@light-comp: #F1D783; //FFE5BA
//@medium-comp: #CDA425; //CB8B1F
//@dark-comp: #B18A0D; //B27208
@light-comp: #718DB6; //FFE5BA
@medium-comp: #375A8D; //CB8B1F
@dark-comp: #193764; //B27208
@white: #E2E7EF;
@duckhunt-shadow: #655400; //#8B7300
@mario-shadow: #950b00; //#D31000
body {
    font-family: 'Lato', sans-serif;
}
a {
    color: @white;
}
a:hover {
    color: @white;
    text-decoration: none;
//    font-weight: 400;
}
.header {
    min-height: 250px;
    //max-height: 200px;
    text-align: center;
    font-size: 65px;
    color: @white;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}
.header-row {
    background-color: @medium;
    padding-bottom: 25px;
    padding-top: 25px;
}
.tj {
    display: inline;
}
.header-thin {
    font-weight: 100;
    display: inline;
    border: 1px solid white;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 8px 8px 0px @dark;
}
.portfolio-navbar {
    text-align: center;
    color: @white;
    font-size: 25px;
}
.portfolio-navbar-row {
    background-color: @dark;
    font-weight: 100;
}
.portfolio-navbar-bottom {
    text-align: center;
    color: @white;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 25px;
}
.portfolio-navbar-row-bottom {
    background-color: @dark;
    font-weight: 100;
}
.project-one-row {
    min-height: 400px;
    background-color: @light-comp;
}
.project-two-row {
    min-height: 400px;
    background-color: @dark;
}
.project-one {
    min-height: 400px;
}
.portfolio-image {
    max-width: 370px;
}
.img-overlay {
//    width: 85%;
//    height: 100%;
    vertical-align: middle;
    text-align: center;
//    position: absolute;
    z-index: 2;
}
.portfolio-image:hover {
    opacity: .65;
}
.title-bar-row {
//    min-height: 250px;
    font-weight: 100;
    color: white;
    font-size: 80px;
    background-color: @medium;
    text-align: center;
    cursor: pointer;
    text-shadow: 5px 5px 0px @dark;
//    box-shadow: 0px 5px 0px @dark;
}
.mario-panel {
    padding-top: -10px;
}
.title-bar-row-programs {
//    min-height: 250px;
    font-weight: 100;
    color: white;
    font-size: 150px;
    background-color: @medium;
    text-align: center;
    cursor: pointer;
    text-shadow: 5px 5px 0px @dark;
//    box-shadow: 0px 5px 0px @dark;
}
.title-bar-border {
    background-color: @dark;
    min-height: 10px;
}
.first-image {
    margin-right: 15px;
    float: left;
    box-shadow: 0px 5px 0px @duckhunt-shadow;
}
.second-image {
    margin-left: 15px;
    float: right;
    box-shadow: 0px 5px 0px @mario-shadow;
}
.language {
    font-size: 12px;
    padding-bottom: 5px;
}
.portfolio-description-panel {
    margin-top: 25px;
    min-height: 450px;
    background-color: @medium-comp;
    border-radius: 5px;
    box-shadow: 0px 5px 0px @dark-comp;
    color: @white;
}
.portfolio-description {
    min-height: 290px;
    padding: 25px;
    font-size: 25px;
}
.portfolio-description-header {
    text-align: center;
    font-size: 25px;
    background-color: @dark-comp;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}
.portfolio-description-header-two {
    text-align: center;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    font-size: 25px;
    color: @dark;
    background-color: @light;
}
#duckhunt {}
.project-left,
.project-right {
    min-height: 400px;
}
.project-panel {
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: @medium;
}
.project-panel-heading {
    background-color: @dark;
    color: @white;
}
