.centered-container{
/*    border-radius: 5px;*/
    border: none;
    position: fixed;
  top: 50%;
  left: 50%;
    padding-top: 50px;
  min-width: 650px;
  max-height: 400px;
  margin-top: -150px;
  margin-left: -300px;
    box-shadow: 0px 5px 5px #23334a;
}

.welcome {
    text-align: center;
    font-size: 56px;   
/*    font-size: 20px;*/
/*    margin-top: 0px;*/
/*    margin-bottom: -20px;*/
    top: -25%;
    left: 0%;;
    right: 0%;
/*    margin: 0px;*/
/*    vertical-align: top;*/
    padding: 15px;
    display: block;
    margin-left: auto;
    margin-right: auto;
/*    min-width: 550px;*/
    color: #777777;
/*    width: 700px;*/
/*    height: 50px;*/
    background: #E7E7E7;
    position: absolute;
/*    border-bottom: 5px solid black;*/
        box-shadow: 0px 4px 2px #b4b4b4;
}

.logo {
    display: inline;
    font-family: 'Pacifico', cursive;
}

.signin {
}

.remember {
    margin-left: 50% auto;
}

body {
    background-color: #4a6086;   
    color: #777777;
    font-family: 'Roboto', sans-serif;
}

.center-div {
    margin: auto;
  position: absolute;
/*    margin: 100px;*/
  top: 0; left: 0; bottom: 0; right: 0;
}

.signin-form {
    max-width: 650px; 
    
/*    left: 40%;*/
/*    text-align: center;*/
    margin-left: 40%;
/*    position: fixed;*/
    
}

.navbar {
    box-shadow: 5px 5px 5px #23334a;
}

.header {
    
    width:100%;
    min-height: 50px;
}

.vcenter {
    height: 100%;
    width: 100%;
}
.blog {
    padding-top: 50px;
    border: none;
    position: relative;
/*    position: fixed;*/
/*    padding-top: 50px;*/
  top: 50%;
  left: 50%;
/*    position: relative;*/
  min-width: 650px;
    max-width: 650px;
/*  max-height: 400px;*/
/*  margin-top: -350px;*/
/*    margin: 20%;*/
    margin-top: 100px;
  margin-left: -320px;
    box-shadow: 0px 5px 5px #23334a;
    background: #F8F8F8;
    
}
.blog-new {
    padding-top: 50px;
    border: none;
    position: relative;
/*    position: fixed;*/
/*    padding-top: 50px;*/
  top: 50%;
  left: 50%;
/*    position: relative;*/
  min-width: 650px;
    max-width: 650px;
/*  max-height: 400px;*/
/*  margin-top: -350px;*/
/*    margin: 20%;*/
    margin-top: 100px;
  margin-left: -320px;
    box-shadow: 0px 5px 5px #23334a;
    background: #F8F8F8;
    
}

.title{
    font-size: 20px;
/*    margin-top: 0px;*/
/*    margin-bottom: -20px;*/
    top: 0%;
    left: 0%;;
    right: 0%;
/*    margin: 0px;*/
/*    vertical-align: top;*/
    padding: 15px;
    display: block;
    margin-left: auto;
    margin-right: auto;
/*    min-width: 550px;*/
    color: #777777;
/*    width: 700px;*/
    height: 50px;
    background: #E7E7E7;
    position: absolute;
/*    border-bottom: 5px solid black;*/
        box-shadow: 0px 4px 2px #b4b4b4;

}

.calendar {
    padding-top: 15px;
    max-width: 550px;
    display: block;
    margin-left: auto;
    margin-right: auto;
/*    padding: 15px;*/
/*    padding-top: 20px*/
}

.add-date {
    display:inline;
    text-align: right;
    right: 10px;
        height: 50px;

    top: -15px;
    bottom: 9px;
    max-width: 150px;
/*    left:0%;*/
    position: absolute;
    font-family: 'Pacifico', cursive;
        box-shadow: 0px 3px 3px #b4b4b4;

}
/* unvisited link */
a:link    {
    color: white;
    text-decoration: none;
}

/* visited link */
a:visited {
    color: white;
    text-decoration: none;
}

/* mouse over link */
a:hover   {
    color: white;
    text-decoration: none;
}

/* selected link */
a:active  {
    color: white;
    text-decoration: none;
}
.add-class {
    display:inline;
    text-align: right;
    right: 170px;
    height: 50px;
    top: -19px;
    bottom: 9px;
    max-width: 110px;
/*    left:0%;*/
    position: absolute;
    font-family: 'Pacifico', cursive;
        box-shadow: 0px 3px 3px #b4b4b4;
}


input, select {
    margin: 6px;
/*    display: inline-block;*/
/*    float: right;*/
/*    margin-left: ;*/
/*    padding-left: 2px;*/
/*
    display: inline-block;
  float: left;
*/
}

textarea {
    clear:left;
    margin-left: 70px;
}

label {
    display: inline-block;
/*    float: left;*/
    clear: left;
    width: 150px;
    text-align: right;   
}

.add-assignment-form {
    padding: 15px; 
/*    text-align: center;*/
}

.custom-btn {
/*    left:7%;*/
/*    clear: left;*/
    margin-left: 70px;
/*    font-size: 25px;   */
/*    position: absolute;*/
    max-width: 100px;
}

.btn-signin{
    max-width: 100px;
    margin-left: 6px;   
}

.btn-class {
    margin-left: 155px;   
}

.bubble 
{
position: relative;
width: 220px;
height: 245px;
padding: 0px;
background: #E7E7E7;
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
border: #777777 solid 3px;
}

.bubble:after 
{
content: '';
position: absolute;
border-style: solid;
border-width: 0 8px 14px;
border-color: #E7E7E7 transparent;
display: block;
width: 0;
z-index: 1;
top: -14px;
left: 168px;
}

.bubble:before 
{
content: '';
position: absolute;
border-style: solid;
border-width: 0 10px 16px;
border-color: #777777 transparent;
display: block;
width: 0;
z-index: 0;
top: -19px;
left: 166px;
}

.navbar .divider-vertical {
height: 50px;
margin: 0 9px;
border-right: 1px solid #ffffff;
border-left: 1px solid #f2f2f2;
}

.navbar-inverse .divider-vertical {
border-right-color: #222222;
border-left-color: #111111;
}

@media (max-width: 767px) {
.navbar-collapse .nav > .divider-vertical {
    display: none;
  }
}